@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@200;400&display=swap");
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
  text-decoration: none;
}
.contanner {
  width: calc(100% - 120px);

  margin: auto;
}
body {
  background-color: #eee;
  height: 66666px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  box-shadow: 0px 1.64744px 8.2372px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .logo img {
  width: 35px;
}
header .logo a {
  color: #545be8;
}

header .list ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  text-transform: capitalize;
}

.list ul li a {
  color: #101928;
}
.act {
  color: #101622;
  font-weight: 700;
}

header .linke {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  text-transform: capitalize;
  font-size: 15px;
}
.linke a:nth-child(1) {
  color: #545be8;
  border: 2px solid #545be8;
  padding: 5px 20px;
  border-radius: 10px;
}

.linke a:nth-child(2) {
  color: #fff;
  background-color: #545be8;
  border: 2px solid #545be8;
  padding: 5px 20px;
  border-radius: 10px;
}
